.navbar-brand img {
  height: 60px;
  max-height: 60px;
}

.navbar-custom {
  background-color: #111 !important;
}

.nav-link.hoverable {
  position: relative;
  color: #fff;
  transition: color 0.3s;
}

.nav-link.hoverable::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff7f50;
  transition: width 0.3s ease-in-out;
}

.nav-link.hoverable:hover::after,
.nav-link.hoverable.active::after {
  width: 100%;
}

.nav-link.hoverable:hover,
.nav-link.hoverable.active {
  color: #ff7f50 !important;
}

.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2050;
  display: none;
}

.navbar-collapse.show ~ .navbar-overlay {
  display: block;
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 2100;
    background-color: #111;
    padding: 1rem 2rem;
  }

  .navbar-collapse .navbar-nav {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .navbar-toggler {
    z-index: 2200;
  }
}
